name: CI

on:
  push:
    branches:
      - 'main'
      - 'renovate/**'
  pull_request:

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.3"

      - name: Install dependencies
        run: make setup

      - name: Generate swagger docs
        run: make docs

      - name: Run tests
        run: make test
