name: CI

on:
  push:
    branches: ['*']
  pull_request:

jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.23.5"

      - name: Install dependencies
        run: make setup

      - name: Generate swagger docs
        run: make docs

      - name: Run tests
        run: make test
